In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("Social_Network_Ads.csv")

In [3]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [4]:
df.isna().any()

User ID            False
Gender             False
Age                False
EstimatedSalary    False
Purchased          False
dtype: bool

In [5]:
x=df.iloc[:,2:4]

In [6]:
y=df.iloc[:,4]

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
log=LogisticRegression()

In [12]:
from sklearn.model_selection import train_test_split

In [41]:
xt,xte,yt,yte=train_test_split(x,y,test_size=0.2,random_state=0)

In [42]:
log.fit(xt,yt)

LogisticRegression()

In [43]:
pred=log.predict(xte)
pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [44]:
yte.values

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1], dtype=int64)

In [45]:
from sklearn.metrics import accuracy_score

In [46]:
acs=accuracy_score(yte,pred)
acs

0.725

In [47]:
from sklearn.preprocessing import StandardScaler

In [48]:
sc=StandardScaler()

In [49]:
xt=sc.fit_transform(xt)
xte=sc.fit_transform(xte)

In [50]:
log.fit(xt,yt)

LogisticRegression()

In [51]:
pred1=log.predict(xte)
pred1

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [52]:
acs1=accuracy_score(yte,pred1)
acs1

0.8875

In [53]:
from sklearn.metrics import confusion_matrix

In [54]:
confusion_matrix(yte,pred1)

array([[52,  6],
       [ 3, 19]], dtype=int64)

In [55]:
log.predict_proba(xte)

array([[0.7788845 , 0.2211155 ],
       [0.73718088, 0.26281912],
       [0.67755249, 0.32244751],
       [0.82175757, 0.17824243],
       [0.82970765, 0.17029235],
       [0.98313116, 0.01686884],
       [0.97060867, 0.02939133],
       [0.14645196, 0.85354804],
       [0.98381102, 0.01618898],
       [0.40378511, 0.59621489],
       [0.92673013, 0.07326987],
       [0.93725031, 0.06274969],
       [0.74024232, 0.25975768],
       [0.48475803, 0.51524197],
       [0.95825161, 0.04174839],
       [0.47049411, 0.52950589],
       [0.5761869 , 0.4238131 ],
       [0.96614258, 0.03385742],
       [0.00825261, 0.99174739],
       [0.92590942, 0.07409058],
       [0.84349658, 0.15650342],
       [0.02215259, 0.97784741],
       [0.60957769, 0.39042231],
       [0.07759915, 0.92240085],
       [0.98935964, 0.01064036],
       [0.01704671, 0.98295329],
       [0.83579997, 0.16420003],
       [0.84273544, 0.15726456],
       [0.69248135, 0.30751865],
       [0.7159971 , 0.2840029 ],
       [0.94695473, 0.05304527],
       [0.55967883, 0.44032117],
       [0.05720342, 0.94279658],
       [0.75296881, 0.24703119],
       [0.96574702, 0.03425298],
       [0.99048523, 0.00951477],
       [0.94947905, 0.05052095],
       [0.88112246, 0.11887754],
       [0.94573361, 0.05426639],
       [0.37230013, 0.62769987],
       [0.85541593, 0.14458407],
       [0.60154265, 0.39845735],
       [0.87127601, 0.12872399],
       [0.93039474, 0.06960526],
       [0.12188993, 0.87811007],
       [0.94196593, 0.05803407],
       [0.55137265, 0.44862735],
       [0.05259363, 0.94740637],
       [0.98040965, 0.01959035],
       [0.09935767, 0.90064233],
       [0.00748054, 0.99251946],
       [0.93141493, 0.06858507],
       [0.79381456, 0.20618544],
       [0.39675454, 0.60324546],
       [0.01610651, 0.98389349],
       [0.58624225, 0.41375775],
       [0.82889305, 0.17110695],
       [0.90299137, 0.09700863],
       [0.43702654, 0.56297346],
       [0.99184978, 0.00815022],
       [0.96129227, 0.03870773],
       [0.06014886, 0.93985114],
       [0.97476383, 0.02523617],
       [0.43809766, 0.56190234],
       [0.99520768, 0.00479232],
       [0.01585707, 0.98414293],
       [0.90856813, 0.09143187],
       [0.94196593, 0.05803407],
       [0.6822567 , 0.3177433 ],
       [0.40668333, 0.59331667],
       [0.22648012, 0.77351988],
       [0.66268126, 0.33731874],
       [0.97177874, 0.02822126],
       [0.66482175, 0.33517825],
       [0.85120535, 0.14879465],
       [0.97432276, 0.02567724],
       [0.3361593 , 0.6638407 ],
       [0.58098955, 0.41901045],
       [0.2330205 , 0.7669795 ],
       [0.07291816, 0.92708184]])

In [56]:
###Using the fetaure engineering techniques

In [57]:
##3one hot and label encoder