project on walmart sales and demand

Importing Required Libraries

In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling as pp

In [31]:
df=pd.read_csv("Walmart_Store_sales.csv")
pd.set_option("display.max_columns",None)
#df.reset_index(drop=True,inplace=True)

In [32]:
df.head(5)

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [4]:
df.shape

(6435, 8)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   datetime64[ns]
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: datetime64[ns](1), float64(5), int64(2)
memory usage: 402.3 KB

In [83]:
df["Date"]=pd.to_datetime(df['Date'])

In [33]:
df1=df.groupby(["Store"])["Weekly_Sales"].sum()

In [34]:
df1=pd.DataFrame(df1)

In [41]:
df1['Weekly_Sales']=df1["Weekly_Sales"].astype("float")

In [39]:
df1['Weekly_Sales']=df1["Weekly_Sales"].astype("int")

In [53]:
df1=df1.reset_index()

In [60]:
a=max(df1['Weekly_Sales'])

In [391]:
max_sales=df1[df1["Weekly_Sales"]==a]###Hence store 20 has the highest weekly sales

In [120]:
df2=df.groupby(["Store"])['Weekly_Sales'].agg(np.std)

In [132]:
df2=pd.DataFrame(df2)

In [127]:
b=max(df2["Weekly_Sales"])

In [389]:
sd=df2[df2["Weekly_Sales"]==b]

In [ ]:
c=df1["Weekly_Sales"].iloc[13]
c

In [153]:
coefficient_mean=b/c
coefficient_mean

0.0010988582950653854

store q3 2012 comparisions growth rate

In [178]:
import datetime as dt

In [179]:
df["month"]=df["Date"].dt.month

In [180]:
df["Year"]=df["Date"].dt.year

In [219]:
df3=pd.DataFrame(df)

In [234]:
df4=df3[df3["Year"]==2012]

In [322]:
df_10=df4[df4["month"]==10]

In [323]:
df_10_1=pd.DataFrame(df_10)

In [324]:
df_10_2=df_10_1.groupby(['Store'])['Weekly_Sales'].sum()

In [325]:
df_10_3=pd.DataFrame(df_10_2)

In [318]:
df_11=df4[df4["month"]==11]

In [319]:
df_11_1=pd.DataFrame(df_11)

In [320]:
df_11_2=df_11_1.groupby(['Store'])['Weekly_Sales'].sum()

In [321]:
df_11_3=pd.DataFrame(df_11_2)

In [310]:
df_12=df4[df4["month"]==12]

In [311]:
df_12_1=pd.DataFrame(df_12)

In [312]:
df_12_2=df_12_1.groupby(['Store'])['Weekly_Sales'].sum()

In [313]:
df_12_3=pd.DataFrame(df_12_2)

In [326]:
quarter_df=pd.concat([df_10_3,df_11_3,df_12_3])

In [303]:
q3_2012=quarter_df.groupby(['Store']).sum()

In [351]:
q3_2012=q3_2012.rename(columns={"Weekly_Sales":"Quarterly_Sales_3"})

In [345]:
q3_2012=pd.DataFrame(q3_2012)

In [304]:
df_7=df4[df4["month"]==7]

In [305]:
df_71=pd.DataFrame(df_7)

In [306]:
df_72=df_71.groupby(['Store'])['Weekly_Sales'].sum()

In [307]:
df_73=pd.DataFrame(df_72)

In [309]:
df_8=df4[df4["month"]==8]

In [328]:
df_81=pd.DataFrame(df_8)

In [329]:
df_82=df_81.groupby(['Store'])['Weekly_Sales'].sum()

In [330]:
df_83=pd.DataFrame(df_82)

In [331]:
df_9=df4[df4["month"]==9]

In [332]:
df_91=pd.DataFrame(df_9)

In [333]:
df_92=df_91.groupby(['Store'])['Weekly_Sales'].sum()

In [334]:
df_93=pd.DataFrame(df_92)

In [336]:
q2=pd.concat([df_73,df_83,df_93])

In [337]:
q2_2012=q2.groupby(['Store']).sum()

In [356]:
q2_2012=q2_2012.rename(columns={"Quarterly_Sales":"Quarterly_Sales_2"})

In [357]:
q2_2012=pd.DataFrame(q2_2012)

In [358]:
quarter_comp=pd.concat([q2_2012,q3_2012],axis=1)

In [379]:
quarter_comp['difference']=(quarter_comp['Quarterly_Sales']-quarter_comp['Quarterly_Sales_2'])

In [383]:
m=max(quarter_comp['Sales_Growth'])

In [388]:
q2_q3_top=quarter_comp[quarter_comp['Sales_Growth']==m]

In [385]:
n=max(quarter_comp['Quarterly_Sales'])

In [387]:
q3_top=quarter_comp[quarter_comp['Quarterly_Sales']==n]